<a href="https://colab.research.google.com/github/sablefasy/BtechDATA/blob/main/Mod3Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [3]:
soup =  BeautifulSoup(response, 'html.parser')

In [24]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr',  class_='employee'):
  id.append(employee.find_all('td')[0].text)
  name.append(employee.find_all('td')[1].text)
  age.append(employee.find_all('td')[2].text)

In [25]:
age

['28', '32', '24', '29', '35', '27', '31', '33']

In [29]:
df = pd.DataFrame({
    'id': id,
    'name': name,
    'age': age
})
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [30]:
df['age'] = df['age'].astype(int)
df['id'] = df['id'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      int64
 1   name    8 non-null      object
 2   age     8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes

In [31]:
average_age = df['age'].mean()
average_age

np.float64(29.875)

In [32]:
std_age = df['age'].std()
std_age

3.563204817496262