<a href="https://colab.research.google.com/github/sablefasy/BtechDATA/blob/main/Mod3Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [17]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [18]:
soup =  BeautifulSoup(response, 'html.parser')

In [19]:
soup.find('table').find_all('tr',  class_='employee')

[<tr class="employee">
 <td>101</td>
 <td>John Doe</td>
 <td>28</td>
 </tr>,
 <tr class="employee">
 <td>102</td>
 <td>Jane Smith</td>
 <td>32</td>
 </tr>,
 <tr class="employee">
 <td>103</td>
 <td>Robert Johnson</td>
 <td>24</td>
 </tr>,
 <tr class="employee">
 <td>104</td>
 <td>Mary Johnson</td>
 <td>29</td>
 </tr>,
 <tr class="employee">
 <td>105</td>
 <td>Michael Brown</td>
 <td>35</td>
 </tr>,
 <tr class="employee">
 <td>106</td>
 <td>Susan Davis</td>
 <td>27</td>
 </tr>,
 <tr class="employee">
 <td>107</td>
 <td>David Wilson</td>
 <td>31</td>
 </tr>,
 <tr class="employee">
 <td>108</td>
 <td>Linda Miller</td>
 <td>33</td>
 </tr>]

In [21]:
id = []
name = []
age = []


for employee in soup.find('table').find_all('tr',  class_='employee'):
 id.append(employee.find_all('td')[0].text)
 name.append(employee.find_all('td')[1].text)
 age.append(employee.find_all('td')[2].text)

In [22]:
age

['28', '32', '24', '29', '35', '27', '31', '33']

In [24]:
df = pd.DataFrame({'id': id, 'name': name, 'age': age})

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [28]:
df['age'] = df['age'].astype(int)
print(df['age'].mean())

29.875

In [29]:
print(df['age'].std())

3.563204817496262